h1 {
    font-family:'Brush Script MT', 'Brush Script Std', cursive;
    text-align: center;
    color: white;
    background-color: mediumpurple;
    border: 1px solid white;
}
h3 {
	font-family:'Brush Script MT', 'Brush Script Std', cursive;
    font-size:30px;
	color: mediumpurple;
}
nav{
    margin-bottom:-50px;
}
nav li{
    display: inline;
    text-decoration: none;
}
nav ul{
    display: inline;
}
p{
	font: Georgia;
    text-indent: initial;
    color: black;
 
}
.profile{
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    border: 6px solid #5D5C61;
    padding: 7px;
    width: 50%;
}
body {
    background-color: lavenderblush;
    font:20px Georgia, verdana
}

